<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Basic HTML Page</title>
      <link rel="stylesheet" href="home.css" />
    </head>

    <body>
      <h1>Welcome to the KickBall League : Helllllahhhhh</h1>

      <ul><% @teams.each do |team|  %>

      <li><a href="###"><%= team[0] %> </a></li>
      <% end %></ul>
     
    </body>
  </html>
